.logo {
    position: fixed;
    top: 15px;
    left: 20px;
    width: 75px;
    height: 75px;
  }
  
  .title {
    position: fixed;
    top: 15px;
    left: 95px;
    display: inline-block;
    margin-left: 15px;
  }

  main{
  margin-top: 150px;
  }

  .card {
    background: white;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 60px;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 60px;
    padding-right: 40px;
    margin-bottom: 20px;
  }