.logo {
    position: fixed;
    top: 15px;
    left: 20px;
    width: 75px;
    height: 75px;
  }
  
  .title {
    position: fixed;
    top: 15px;
    left: 95px;
    display: inline-block;
    margin-left: 15px;
  }

  main{
  margin-top: 150px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .card {

    background: white;
    border: 1px solid black;
    border-radius: 3px;
    margin: 50px auto;
    width: 500px;
    height: 200px;
    padding: 50px;
  

  }
  .container .centered-buttons {
    display: flex;
    justify-content: center;
    height: 75px;
  }

  .container .centered-buttons button {
    font-size: 30px;
    padding: 10px 20px;
    border-radius: 40px;
    margin-left: 50px;
    margin-right: 50px;

  }

  .container .centered-buttons button:hover {
    background-color: hwb(201 44% 11%);
  }

  h2{
    font-size: 60px;
    text-align: center;
  }

  p{
    font-size: 23px;
    text-align: center;
    padding-bottom: 50px;

  }