{% extends "layout.html" %}
{% block content %}
<h2>Bookmarks </h2>

{% if bookmarks %}
    {% for bookmark in bookmarks %}
        <div  class = "bookmark" style = "margin: 0px 20px; display: flex;
        justify-content: left;">
        {% if bookmark.topic %}
            <p>{{bookmark.topic}}</p>
        
        {% else %}
            <p>N/A<p>

        {% endif %}

        {% if bookmark.thumbnail %}
              <img style = "border: 2px solid rgb(0, 0, 0);" class="thumbnail" src="{{ bookmark.thumbnail }}" alt="{{ bookmark.title }}">
        {% endif %}
        <p>
            <a href="{{ bookmark.url }}"
            {{bookmark.title}}
        </p>
        </div>
        <button style = "text-align: left;margin: 0px 20px;">Remove</button>
    {% endfor %}
{% else %}
    <p>No Bookmarks Added.</p>
{% endif %}

{% endblock %}
