{% extends "layout.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div style="font-weight: bold; text-align: center;">
        {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}

<h2>Bookmarks </h2>

{% if bookmarks %}
    {% for bookmark in bookmarks %}
        <div  class = "bookmark" style = "margin: 0px 20px; display: flex;
        justify-content: left;">
        {% if bookmark.topic %}
            <p>{{bookmark.topic}}</p>
        
        {% else %}
            <p>N/A<p>

        {% endif %}

        {% if bookmark.thumbnail %}
              <img style = "border: 2px solid rgb(0, 0, 0);" class="thumbnail" src="{{ bookmark.thumbnail }}" alt="{{ bookmark.title }}">
        {% endif %}
        <p>
            <a href="{{ bookmark.url }}">
                {{ bookmark.title }}
            </a>
        </p>
        </div>

        <form action="/untrack_bookmark" method="POST">
            <input type="hidden" name="url" value="{{bookmark.url}}">
            <button style = "text-align: left;margin: 0px 20px;">Remove</button>
        </form>
    {% endfor %}
{% else %}
    <p>No Bookmarks Added.</p>
{% endif %}

{% endblock %}
