{% extends "layout.html" %}
{% block content %}

<button type = "button"> <a href = "/tracking"> Back </a> </button>

<h2>Showing Tracked Articles For: "{{topic_name}}"</h2>

{% if articles %}
    {% for article in articles %}
        {% if article.thumbnail %}
        <p>        
            <img href = "{{ article.url }}" style = "border: 2px solid rgb(87, 87, 87);" class="thumbnail" src="{{ article.thumbnail }}" alt="{{ article.title }}">
        </p>
        {% endif %}

        <p>   
            <a href="{{ article.url }}">
                {{article.title}}
            </a>
        </p>

        <p>
            {{article.description}}
        </p>
    {% endfor %}
{% endif %}
        


{% endblock %}
