{% extends "layout.html" %}
{% block content %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% if messages[0].startswith('Error') %}
    <div style="color: red; text-align: center;">
      {{ messages[0] | safe }}
    </div>
    {% else %}
    <div style="font-weight: bold; text-align: center;">
      {{ messages[0] | safe }}
    </div>
    {% endif %}
  {% endif %}
{% endwith %}

<button style = "margin-left: 20px;" type = "button"> <a href = "/tracking"> See All Tracked Topics </a> </button>


<h2 class = "pagetitle">Showing Tracked Articles For: "{{topic_name}}"</h2>
<div class="titlecontainer">
<div class="articles-container">
{% if articles %}
    {% for article in articles %}
    <div class="article">
        {% if article.thumbnail %}
        <p>        
            <img  class="thumbnail" style="border: 2px solid rgb(87, 87, 87);" href = "{{ article.url }}" style = "border: 2px solid rgb(87, 87, 87);" class="thumbnail" src="{{ article.thumbnail }}" alt="{{ article.title }}">
        </p>
        {% endif %}

        <p style="font-size: 18px;">   
            <a href="{{ article.url }}">
                {{article.title}}
            </a>
        </p>

        <p style="font-size: 18px;">
            {{article.description}}
        </p>

        <form method="POST" action="{{ url_for('track_bookmark') }}">
          <input type="hidden" name="topic" value="{{ topic_name }}">
          <input type="hidden" name="url" value="{{ article.url }}">
          <input type="hidden" name="title" value="{{ article.title }}">
          <input type="hidden" name="description" value="{{ article.description }}">
          <input type="hidden" name="thumbnail" value="{{ article.thumbnail }}">
          <input type="hidden" name="article" value="">
          <input type="hidden" name="redirect" value="topic_expand">
          <button type="submit" style="background-color: white;">Bookmark</button>
      </form>
    </div>
    {% endfor %}
{% endif %}
</div>
</div>


{% endblock %}
