{% extends "layout.html" %}
{% block content %}
<h2 style= "font-size: 45px;">Welcome!</h2>
<div class = "search-container">
  <button type = "button"> <a href = "/settings"> Settings </a> </button>
  <form action="/search" method="get">
    <input style = "width: 600px; height: 45px; margin-left: 40px; margin-right:15px;" type="text" name="q" placeholder="Search for news...">
    <input style = "cursor: pointer;border-radius: 40px; font-size: 18px;" type="submit" value="Search">
  </form>
</div>

<div class ="pagecontainer">
  <div style = "margin-left: 20px">
    <p style = "text-align: left; margin-left:5px;"> Recent Searches:</p>
    <div class = "card" style =  "margin: 0px 5px; width: 5%"> 

    </div>
  <p style = "text-align: left;"> Tracked Topics: </p>
<div class = "card" style =  "margin: 0px 5px; width: 5%">
  
</div>
</div>

<div style = "border: 1px solid black;">
  <div class="articles-container">
    {% if populararts %}
        {% for article in populararts %}
          <div class="article">
            <h3>{{ article['title'] }}</h3>
            <p>{{ article['description'] }}</p>
            <a href="{{ article['url'] }}">Read More</a>
          </div>
        {% endfor %}
      {% else %}
        <p>No popular articles found.</p>
      {% endif %}
  </div>
</div>
</div>
{% endblock %}
