{% extends "layout.html" %}
{% block content %}
<h2> Language </h2>

<form action="/update_settings" method="POST" style="text-align: center;">
        <p> Options: </p>
        <select name="language">
            <option disabled selected>Select a language...</option>
            {% for i in lang %}
                <option>{{i}}</option>
            {% endfor %}
        </select>

        <input class="center" style="margin-top: 70px; margin-bottom: 70px; width: 300px;" type="submit" value="Enter">
</form>

{% endblock %}
