{% extends "layout.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}

<h2 style="font-size: 45px; margin-bottom: 25px;">Sign Up</h2>
<div class = "contain" style = " display: flex;flex-direction: column;
align-items: center;" >
<div class="card" style="margin-top: 0px; height: 350px;">
    <form method="POST" action="{{ url_for('signup') }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        {% for error in form.username.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        {% for error in form.email.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {% for error in form.password.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control") }}
        {% for error in form.confirm_password.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>
  </div>

  <a href = "/start"> <button type = "button" class = "logonbuttons"> Back </button></a>
</div>
{% endblock %}
