{% extends "layout.html" %}
{% block content %}
<div class="container">
<
    <div class="card" style= "margin-top: 10px;">
      <h2 style = "font-size: 34px; margin-top: 5px">Track Topics, Ride the Tide!</h2>
      <h2 style = "font-size: 28px;">Start Tracking</h2>
      <p style = "font-size : 20px;">Stay up to date with the latest news on your favorite topics with Topic Tide!</p>

    </div>
    <div class="centered-buttons">
        <a href = "/login">
      <button type="button">Log In</button>
    </a>
    <a href  = "/signup">
      <button type="button">Sign Up</button>
    </a>
    </div>
  </div>
 
{% endblock %}
