{% extends "layout.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div style="font-weight: bold; text-align: center;">
        {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}

<h2>Tracked Topics</h2>
    {% if topics %}
    {% for topic in topics %}

    <div class = "tracked">
    <div class = "left-align">
    
    
    <p style = "margin-left: 13px; margin-right: 100px;">
        <a href="{{ url_for('topic_expand', expanded_topic = topic[0]) }}">
            {{topic[0]}}
        </a>
    </p>
    <p>
        <form action="/remove_tracked" method="POST">
            <input type="hidden" name="topic" value="{{topic[0]}}">
            <button id="clearRecentSearchesButton" type="submit">Stop Tracking</button>
        </form>
    </p>
    </div>
    <div class = "card" style = "height: 125px; margin-top: 6px; width: 84%">
            {% for article in topic[1:] %}
                <p style="text-align: left;">
                    <a href={{article.url}}>
                        {{ article.title }}
                    </a>
                </p>
            {% endfor %}
    </div>
    </div>
    </div>
            
    {% endfor %}
    {% else %}
        <p style="text-align: left;">None</p>
    {% endif %}
{% endblock %}
