{% extends "layout.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}

  {% if messages %}
    {% if messages[0].startswith('Error') %}
    <div style="color: rgb(255, 147, 147); text-align: center;">
      {{ messages[0] | safe }}
    </div>
    {% else %}
    <div style="font-weight: bold; text-align: center;">
      {{ messages[0] | safe }}
    </div>
    {% endif %}
  {% endif %}
{% endwith %}

<h2 class = "pagetitle">Tracked Topics</h2>
    {% if topics %}
    {% for topic in topics %}

    <div class = "tracked">
    <div class = "left-align">
    
    
    <h2 class = "pagetitle" style = "margin-left: 40px; margin-right: 100px; font-size:30px;">
            {{topic[0]}}

        
    </h2>
   
    <p>
        <a href="{{ url_for('topic_expand', search_query = topic[0]) }}">
            <button style = "margin-right: 20px;" type = "button"> Expand </button>
        </a>
        
    </p>
    <p>|</p>
    <p>
        <form action="/remove_tracked" method="POST">
            <input type="hidden" name="topic" value="{{topic[0]}}">
            <button id="clearRecentSearchesButton" style = "margin-left: 20px;" type="submit">Stop Tracking</button>
        </form>
    </p>

    </div>

    <div class = "card" style = "height: 5%; margin-top: 6px; width: 84%;">
        <div>

        <p style = "text-align: left; font-size:22px;"> Newest: </p>
            {% for article in topic[1:] %}
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <p style="font-size: 22px; text-align: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-right: 10px;"">
                        <a href="{{ article.url }}" target="_blank">
                            {{ article.title }}
                        </a>
                    </p>
                    <form method="POST" action="{{ url_for('track_bookmark') }}">
                        <input type="hidden" name="topic" value="{{ article.topic }}">
                        <input type="hidden" name="url" value="{{ article.url }}">
                        <input type="hidden" name="title" value="{{ article.title }}">
                        <input type="hidden" name="description" value="{{ article.description }}">
                        <input type="hidden" name="thumbnail" value="{{ article.thumbnail }}">
                        <input type="hidden" name="article" value="">
                        <input type="hidden" name="redirect" value="tracking">
                        <button type="submit" style="background-color: white;">Bookmark</button>
                    </form>
                </div>
               
            {% endfor %}
           </div>
           
    </div>
    </div>
    </div>
            
    {% endfor %}
    {% else %}
        <p class = "pagetitle" style="text-align: center;"> No tracked topics.</p>
    {% endif %}
{% endblock %}
